@import '../var.styl';

.categories {
  padding: 10px;
  block-mixin();
  &-title {
    color: skyblue;
    text-align: center;
    padding: 15px 0;
    margin-bottom: 15px;
    border-bottom: 1px dashed #ccc;
  }
  &-list {
    display: flex;
    width: 80%;
    margin: 10px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    &-item {
      color: #fff;
      padding: 5px 10px;
      border-radius: 5px;
      margin: 0 10px;
      box-shadow: 0 0 5px #666;
      margin-bottom: 15px;
      &:nth-child(5n + 1) {
        background-color: rgba(255, 182, 193, 0.8);
      }
      &:nth-child(5n + 2) {
        background-color: rgba(255, 212, 163, 0.8);
      }
      &:nth-child(5n + 3) {
        background-color: rgba(184, 224, 184, 0.8);
      }
      &:nth-child(5n + 4) {
        background-color: rgba(168, 216, 234, 0.8);
      }
      &:nth-child(5n + 5) {
        background-color: rgba(212, 165, 212, 0.8);
      }
    }
    &-link {
      color: #fff;
      text-decoration: underline;
    }
    &-count {
      color: #fff;
      margin-left: 8px;
      &::before {
        content: '['
      }
      &::after {
        content: ']'
      }
    }
  }
}