.tags {
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #333;
}
.tags-title {
  color: #87ceeb;
  text-align: center;
  padding: 15px 0;
  margin-bottom: 15px;
  border-bottom: 1px dashed #ccc;
}
.tags-list {
  width: 80%;
  margin: 20px auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.tags-list > a {
  margin: 0 10px;
  padding: 3px 10px;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #666;
  margin-bottom: 15px;
}
.tags-list > a:nth-child(5n + 1) {
  background-color: #ffb6c1;
}
.tags-list > a:nth-child(5n + 2) {
  background-color: #ffd4a3;
}
.tags-list > a:nth-child(5n + 3) {
  background-color: #b8e0b8;
}
.tags-list > a:nth-child(5n + 4) {
  background-color: #a8d8ea;
}
.tags-list > a:nth-child(5n + 5) {
  background-color: #d4a5d4;
}
